@font-face {
    font-family: "Standard";
    src: url('./fonts/PixeloidSans-nR3g1.ttf') format('truetype');
}
@font-face {
    font-family: "Bold";
    src: url("/fonts/PixeloidSansBold-RpeJo.ttf") format('truetype');
}

html, body {
    scroll-behavior: smooth;
    font-family: "Standard", Fallback, "Garamond";
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}


p {
    line-height: 1.4;
}
section.one{
    height: 100vh;
    width: 100%;
    background-image: url("img/apocalypse_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1#game-title{
    color: black;
    font-size: 3em;
    -webkit-animation: bounce .9s ease infinite alternate;
    margin: auto;
    word-spacing: 100vw;
    text-align: center;
    line-height: 1.4;
}
h1#game-title > a{
    transition: .3s linear;
}
h1#game-title > a:hover{
    /*background: rgba(37, 37, 37, .75);*/
    color: #252525;
}
h2#subtitle{
    font-size: .5em;
    line-height: initial;
}
@-webkit-keyframes bounce {
    0% {
        text-shadow:
                0 5px 0 #494949,
                0 2px 3px rgba(0, 0, 0, 1);
    }
    100% {
        transform:translateY(-20px);
        text-shadow:  0 50px 0 0,
        0 0px 20px rgba(0, 0, 0, .8);
    }
}

/* Section 2 Team */
section.content{
    background: #252525;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 65px 0;
    color: #e5e5e5;
}
div#content-sec-two{
    width: 88%;
}

h2#team{
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
    margin-top: -50px;
}

div#team-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.team-member{
    margin: 1em 0;
    align-self: flex-start;
}
img.img-member {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    border: 5px solid #494949;
    max-height: 500px;
    object-fit: cover;
    object-position: 0% 0%;
}

div.description {
    text-align: center;
    color: #e5e5e5;
    padding: 0 10px;
}

h3.team-name{
    font-size: 1.6em;
    font-weight: 300;
}
p.sub_headline{
    font-size: 1.15em;
}

/* Section 3 Über das Projekt */
section.content2{
    background: #e5e5e5;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 65px 0;
}
h2.project{
    font-size: 3em;
    text-align: center;
    max-width: 88%;
}
div.project-container{
    width: 88%;
}
h2.headline-game-concept{
    font-size: 1.75em;
    text-decoration: underline;
}
img.game-img{
    height: auto;
    width: 100%;
    max-width: 800px;
}
#jump-n-run, #temple-run{
    margin-bottom: 65px;
}

/*Section Projektdokumentation*/
div#documentation-container{
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
div#documentation{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
div.doc-pages{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    text-align: center;
    transition: .3s linear;
}
div.doc-pages:hover{
    background-color: #252525;
    color: #e5e5e5;
    transition: .3s linear;
}
img.doc-logos{
    width: auto;
    max-height: 100px;
    background-color: #e5e5e5;
}

div.installation-tipps{
    width: 100%;
}
div#download-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

a#download-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5em 1em;
    transition: .3s linear;
}
a#download-button:hover{
    background-color: rgba(37,37,37, .5);
    color: #e5e5e5;
    transition: .3s linear;

}
img#download-icon{
    width: 50px;
    height: auto;
    margin-bottom: -15px;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    h1#game-title{
        word-spacing: unset;
        font-size: 4em;
    }
    div#team-row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div.team-member{
        width: calc(50% - 10px);
        margin: 0;
    }
}
@media only screen and (min-width: 769px) {
    /* For desktop: */
    div.team-member{
        width: calc(25% - 10px);
    }
}